@using ParkingControlWeb.ViewModels.Wrappers;

@model ActiveRecordsViewModel

@{
    ViewData["Title"] = "ورود و خروج های فعال";
}

<html>
    <head>

        <style>

            .form-floating > label {
                right: 0;
                left: auto;
            }

            .dropdown-toggle::after {
                display: none;
            }

            td, th {
                text-align: center;
            }

            th {
                position: sticky;
                top: 0px;
            }

        </style>
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="mt-5">

                <div class="row">

                    <div class="col-6">
                        <h3>ورود و خروج های جاری</h3>
                    </div>
                </div>

                <div class="overflow-scroll" style="max-height:60vh;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>شماره همراه</th>
                                <th>شماره پلاک</th>
                                <th>زمان ورود</th>
                                <th>اکشن</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int i = 1;
                            }

                            @foreach (var item in @Model.ActiveRecordsList.ActiveRecords)
                            {
                            <tr>
                                    <td>@i</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.PlateNumber</td>
                                    <td>@item.EntranceTime</td>
                                    <td>
                                        @if (item.Status == 1)
                                        {
                                            <a class="btn btn-warning w-75">توقف</a>
                                        }
                                        else
                                        {
                                        <a class="btn btn-info w-50" data-toggle="collapse" href="#charge_@i" class="accordion-toggle">شارژ کردن حساب</a>


                                            if (item.IsMoneyEnough)
                                            {
                                                <span tabindex="0" data-toggle="tooltip" data-placement="top" title="موجودی کاربر کافی نمی‌باشد">
                                                    <a class="btn btn-danger disabled w-25" asp-controller="" asp-action="">خروج</a>
                                                </span>
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger w-25" asp-controller="" asp-action="">خروج</a>
                                            }
                                        }


                                    </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="4" class="hiddenRow">
                                    <div class="collapse hidden" id="charge_@i">
                                        <form>
                                            <div class="row">

                                                <div class="col-6">
                                                    <input class="form-control" />
                                                </div>
                                                <div class="col-6">
                                                    <a class="btn btn-success">Chrage</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                            </tr>

                            i = i + 1;
                            
                        }
                        </tbody>
                    </table>
                </div>

                <hr />

            </div>

            <div class="mt-5">
                <form asp-action="AddNewRecord">

                    <div class="row">
                        <div class="col-3">
                            <div class="form-floating mb-3 justify-content-star3t form-group">
                            <input asp-for="AddRecord.PhoneNumber" type="text" maxlength="11" class="form-control rounded-3" id="floatingInput" placeholder="09101234567">
                                <label asp-for="AddRecord.PhoneNumber" for="floatingInput" class="ms-0"></label>
                                <span asp-validation-for="AddRecord.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3 justify-content-star3t form-group">
                                <div class="row">
                                    <label>پلاک</label>
                                    <div class="col-2">
                                        <input asp-for="AddRecord.PlateNumber1" type="text" maxlength="2" class="form-control rounded-3" id="floatingInput" placeholder="11">
                                        <span asp-validation-for="AddRecord.PlateNumber1" class="text-danger"></span>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="AddRecord.PlateNumber2" type="text" maxlength="3" class="form-control rounded-3" id="floatingInput" placeholder="365">
                                        <span asp-validation-for="AddRecord.PlateNumber2" class="text-danger"></span>
                                    </div>
                                    <div class="col-2">
                                        <input asp-for="AddRecord.PlateNumber3" type="text" maxlength="3" class="form-control rounded-3" id="floatingInput" placeholder="الف">
                                        <span asp-validation-for="AddRecord.PlateNumber3" class="text-danger"></span>
                                    </div>
                                    <div class="col-2">
                                        <input asp-for="AddRecord.PlateNumber4" type="text" maxlength="2" class="form-control rounded-3" id="floatingInput" placeholder="12">
                                        <span asp-validation-for="AddRecord.PlateNumber4" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-success form-control" type="submit">ثبت رکورد</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    </body>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</html>