@using ParkingControlWeb.ViewModels.Wrappers;

@model ActiveRecordsViewModel

@{
    ViewData["Title"] = "ورود و خروج های فعال";
}

<html>
    <head>

        <style>

            .form-floating > label {
                right: 0;
                left: auto;
            }

            .dropdown-toggle::after {
                display: none;
            }

            td, th {
                text-align: center;
            }

            th {
                position: sticky;
                top: 0px;
            }

        </style>
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="mt-5">

                <div class="row mb-2">

                    <div class="col-6">
                        <h3>ورود و خروج های جاری</h3>
                    </div>

                    <div class="col-6 text-start">
                        <h3>@Model.ActiveRecordsList.RemToCap</h3>
                    </div>
                </div>

                <div class="row mt-3">

                    <div class="col-6">
                        <input type="text" id="searchInput" class="form-control mb-3" placeholder="جستجو">
                    </div>
                    <div class="col-2">
                        <select class="form-select" id="dateOrderSelect">
                            <option value="olderToNewer">قدیم به جدید</option>
                            <option value="newerToOlder" selected>جدید به قدیم</option>
                        </select>
                    </div>

                    <div class="col-2">
                        <select class="form-select" id="timePeriodSelect">
                            <option value="last100" selected>100 مورد اخیر</option>
                            <option value="yesterday">دیروز</option>
                            <option value="today">امروز</option>
                            <option value="lastWeek">7 روز گذشته</option>
                            <option value="lastMonth">30 روز گذشته</option>
                            <option value="lastYear">سال گذشته</option>
                            <option value="all">همه</option>
                        </select>
                    </div>
                </div>

                <div class="overflow-scroll" style="max-height:60vh;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="bg-white border-bottom">#</th>
                                <th class="bg-white border-bottom">شماره همراه</th>
                                <th class="bg-white border-bottom">شماره پلاک</th>
                                <th class="bg-white border-bottom">زمان ورود</th>
                                <th class="bg-white border-bottom">زمان خروج</th>
                                <th class="bg-white border-bottom"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int i = 1;
                            }

                            @foreach (var item in @Model.ActiveRecordsList.ActiveRecords)
                            {
                                <tr data-date="@item.Date">
                                        <td>@i</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>@item.PlateNumber</td>
                                        <td>@item.EntranceTime</td>
                                        <td>
                                            <p tabindex="1" data-toggle="tooltip" data-placement="top" title=@item.PassedTime>
                                                @item.ExitTime
                                            </p>
                                        </td>
                                        <td>
                                            @if (item.Status == 0)
                                            {
                                                <a class="btn btn-warning w-75" asp-controller="Records" asp-action="StopARecord" asp-route-id="@item.Id">توقف</a>
                                            }
                                            else
                                            {
                                            <a class="btn btn-info w-50" data-toggle="collapse" href=".multi-collapse_@i" aria-expanded="false" aria-controls="ballance_@i charge_@i dif_@i">جزئیات</a>


                                                if (!item.IsMoneyEnough)
                                                {
                                                    <span tabindex="0" data-toggle="tooltip" data-placement="top" title="موجودی کاربر کافی نمی‌باشد">
                                                        <a class="btn btn-danger disabled w-25">خروج</a>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-danger w-25" asp-controller="Records" asp-action="FinalizeARecord" asp-route-id="@item.Id">خروج</a>
                                                }
                                            }


                                        </td>
                                </tr>
                                if(item.Status == -1)
                                {
                                    <tr data-date="@item.Date">
                                        <td></td>
                                        <td>
                                            <div id="ballance_@i" class="collapse multi-collapse_@i">
                                                <span class="text text-success">موجودی کاربر : @item.Ballance تومان</span>
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ballance_@i" class="collapse multi-collapse_@i">
                                                <span class="text text-danger">هزینه خروج : @item.Price تومان</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div id="dif_@i" class="collapse multi-collapse_@i">
                                                @if (item.IsMoneyEnough)
                                                {
                                                    <span class="text text-success">باقی : @item.Diffrence+ تومان</span>
                                                }
                                                else
                                                {
                                                    <span class="text text-danger">باقی : @item.Diffrence- تومان</span>
                                                }
                                            </div>
                                        </td>
                                    
                                        <td colspan="3">
                                            <div id="charge_@i" class="collapse multi-collapse_@i">
                                                <div class="row">
                                                    <div class="col-8">
                                                    <button class="openModalButton form-control btn btn-success" id="ch_btn_@i" data-request-id="@item.Id" data-request-diff="@item.Diffrence" onclick="openModal(ch_btn_@i)">شارژ کردن</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>

                                }

                                i = i + 1;
                            
                            }
                        </tbody>
                    </table>
                </div>

                <hr />

            </div>

            <div class="mt-5">
                <form asp-action="AddNewRecord">

                    <div class="row">
                        <div class="col-3">
                            <div class="form-floating form-group">
                            <input asp-for="AddRecord.PhoneNumber" type="text" maxlength="11" class="form-control rounded-3" id="floatingInput" placeholder="09101234567">
                                <label asp-for="AddRecord.PhoneNumber" for="floatingInput" class="ms-0"></label>
                                <span asp-validation-for="AddRecord.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating form-group">
                                <div class="row">
                                    <label>پلاک</label>
                                    <div class="col-2">
                                        <input asp-for="AddRecord.PlateNumber1" type="text" class="form-control rounded-3" id="floatingInput" placeholder="11">
                                        <span asp-validation-for="AddRecord.PlateNumber1" class="text-danger"></span>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="AddRecord.PlateNumber2" type="text" class="form-control rounded-3" id="floatingInput" placeholder="365">
                                        <span asp-validation-for="AddRecord.PlateNumber2" class="text-danger"></span>
                                    </div>
                                    <div class="col-2">
                                        <input asp-for="AddRecord.PlateNumber3" type="text" class="form-control rounded-3" id="floatingInput" placeholder="الف">
                                        <span asp-validation-for="AddRecord.PlateNumber3" class="text-danger"></span>
                                    </div>
                                    <div class="col-2">
                                        <input asp-for="AddRecord.PlateNumber4" type="text" class="form-control rounded-3" id="floatingInput" placeholder="12">
                                        <span asp-validation-for="AddRecord.PlateNumber4" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-success form-control" type="submit">ثبت ورود</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>

        function openModal(name) {

            $('#modal-body-content-bg').load('/Records/ChargeDriverModal');
            $('#myModalBg').modal('show');

            setTimeout(function () {
                var requestId = $(name).data('request-id');
                var requestDiff = $(name).data('request-diff');

                $('#requestIdInput').val(requestId);
                $('#floatingInput12').val(requestDiff);
            }, 100); // Adjust the delay time as needed
        }

        function getVal(ref) {

            var doc = document.getElementById(ref);

            alert(doc.innerHTML);
            return doc.innerHTML;
        }

    </script>

    <script src="~/js/tableSearch.js"></script>
    <script src="~/js/sorter.js"></script>

    </body>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</html>