@using ParkingControlWeb.ViewModels.List;

@model ActiveRecordsListViewModel

@{
    ViewData["Title"] = "ورود و خروج های فعال";
}

<html>
    <head>

        <style>

            .form-floating > label {
                right: 0;
                left: auto;
            }

            .dropdown-toggle::after {
                display: none;
            }

            td, th {
                text-align: center;
            }

            th {
                position: sticky;
                top: 0px;
            }

        </style>
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="mt-5">

                <div class="row mb-2">

                    <div class="col-10">
                        <h3>ورود و خروج های جاری</h3>
                        <h5>@Model.RemToCap</h5>
                    </div>

                    <div class="col-2 text-start">
                        <a class="btn btn-primary" onclick="openRecordModal()"><i class="bi bi-plus-circle"></i></a>
                    </div>
                </div>

                <div class="row mt-3 mb-4">

                    <div class="col-lg-6 col-sm-12 mt-2">
                    <input type="text" id="searchInput" class="form-control mb-3" placeholder="جستجو">
                    </div>
                    <div class="col-lg-2 col-sm-12 mt-2">
                        <select class="form-select" id="dateOrderSelect">
                            <option value="olderToNewer">قدیم به جدید</option>
                            <option value="newerToOlder" selected>جدید به قدیم</option>
                        </select>
                    </div>

                <div class="col-lg-2 col-sm-12 mt-2">
                        <select class="form-select" id="timePeriodSelect">
                            <option value="last100" selected>100 مورد اخیر</option>
                            <option value="yesterday">دیروز</option>
                            <option value="today">امروز</option>
                            <option value="lastWeek">7 روز گذشته</option>
                            <option value="lastMonth">30 روز گذشته</option>
                            <option value="lastYear">سال گذشته</option>
                            <option value="all">همه</option>
                        </select>
                    </div>
                </div>

                <div class="overflow-scroll" style="max-height:60vh;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="bg-white border-bottom">#</th>
                                <th class="bg-white border-bottom">شماره همراه</th>
                                <th class="bg-white border-bottom">شماره پلاک</th>
                                <th class="bg-white border-bottom">زمان ورود</th>
                                <th class="bg-white border-bottom">زمان خروج</th>
                                <th class="bg-white border-bottom"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int i = 1;
                            }

                            @foreach (var item in @Model.ActiveRecords)
                            {
                                <tr data-date="@item.Date">
                                        <th>@i</th>
                                        <td data-label="شماره همراه">@item.PhoneNumber</td>
                                        <td data-label="شماره پلاک">@item.PlateNumber</td>
                                        <td data-label="زمان ورود">@item.EntranceTime</td>
                                        <td data-label="زمان خروج">
                                            <p tabindex="1" data-toggle="tooltip" data-placement="top" title=@item.PassedTime>
                                                @item.ExitTime
                                            </p>
                                        </td>
                                        <td>
                                            <div class="row">

                                                @if (item.Status == 0)
                                                {
                                                    <div class="col-12">
                                                        <a class="btn btn-warning form-control" asp-controller="Records" asp-action="StopARecord" asp-route-id="@item.Id">توقف</a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-xl-6 col-sm-12">
                                                        <a class="btn btn-info form-control mt-1" data-toggle="collapse" href=".multi-collapse_@i" aria-expanded="false" aria-controls="ballance_@i charge_@i dif_@i">جزئیات</a>
                                                    </div>
                                                    
                                                    <div class="col-xl-6 col-sm-12">

                                                        @if (!item.IsMoneyEnough)
                                                        {
                                                            <a class="btn btn-danger disabled form-control mt-1">خروج</a>

                                                            <span tabindex="0" data-toggle="tooltip" data-placement="top" title="موجودی کاربر کافی نمی‌باشد">
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-danger form-control mt-1" asp-controller="Records" asp-action="FinalizeARecord" asp-route-id="@item.Id">خروج</a>
                                                        }

                                                    </div>
                                                }

                                            </div>

                                        </td>
                                </tr>
                                if(item.Status == -1)
                                {
                                    <tr data-date="@item.Date">
                                        <th></th>
                                        <td>
                                            <div id="ballance_@i" class="collapse multi-collapse_@i">
                                                <span class="text text-success">موجودی کاربر : @item.Ballance تومان</span>
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ballance_@i" class="collapse multi-collapse_@i">
                                                <span class="text text-danger">هزینه خروج : @item.Price تومان</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div id="dif_@i" class="collapse multi-collapse_@i">
                                                @if (item.IsMoneyEnough)
                                                {
                                                    <span class="text text-success">باقی : @item.Diffrence+ تومان</span>
                                                }
                                                else
                                                {
                                                    <span class="text text-danger">باقی : @item.Diffrence- تومان</span>
                                                }
                                            </div>
                                        </td>
                                    
                                        <td colspan="3">
                                            <div id="charge_@i" class="collapse multi-collapse_@i">
                                                <div class="row">
                                                    <div class="col-8">
                                                    <button class="openModalButton form-control btn btn-success" id="ch_btn_@i" data-request-id="@item.Id" data-request-diff="@item.Diffrence" onclick="openModal(ch_btn_@i)">شارژ کردن</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>

                                }

                                i = i + 1;
                            
                            }
                        </tbody>
                    </table>
                </div>

                <hr />

            </div>

        </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>

        function openModal(name) {

            $('#modal-body-content-bg').load('/Records/ChargeDriverModal');
            $('#myModalBg').modal('show');

            setTimeout(function () {
                var requestId = $(name).data('request-id');
                var requestDiff = $(name).data('request-diff');

                $('#requestIdInput').val(requestId);
                $('#floatingInput12').val(requestDiff);
            }, 100); // Adjust the delay time as needed
        }

        function openRecordModal() {

            $('#modal-body-content').load('/Records/AddRecordModal');
            $('#myModal').modal('show');

            setTimeout(function () {
                var requestId = $(name).data('request-id');
                var requestDiff = $(name).data('request-diff');

                $('#requestIdInput').val(requestId);
                $('#floatingInput12').val(requestDiff);
            }, 100); // Adjust the delay time as needed
        }

        function getVal(ref) {

            var doc = document.getElementById(ref);

            alert(doc.innerHTML);
            return doc.innerHTML;
        }

    </script>

    <script src="~/js/tableSearch.js"></script>
    <script src="~/js/sorter.js"></script>

    </body>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</html>