@{
    ViewData["Title"] = "تراکنش های ورود و خروج";
}

@using ParkingControlWeb.ViewModels.List

@model List<TransactionViewModel>

<html>

    <head>

        <style>
            td,th{
                text-align:center;
            }

            th{
                position: sticky;
                top: 0px;
            }
        </style>
    </head>

    <body>

        <div class="container-fluid">

            <div class="mt-5">

                <div class="row mb-2">

                    <div class="col-6">
                        <h3>لیست تراکنش های بانکی</h3>
                    </div>
                </div>

                <div class="row mt-3">

                    <div class="col-6">
                        <input type="text" id="searchInput" class="form-control mb-3" placeholder="جستجو">
                    </div>
                    <div class="col-2">
                        <select class="form-select" id="dateOrderSelect">
                            <option value="olderToNewer">قدیم به جدید</option>
                            <option value="newerToOlder" selected>جدید به قدیم</option>
                        </select>
                    </div>

                    <div class="col-2">
                        <select class="form-select" id="timePeriodSelect">
                            <option value="last100" selected>100 مورد اخیر</option>
                            <option value="yesterday">دیروز</option>
                            <option value="today">امروز</option>
                            <option value="lastWeek">7 روز گذشته</option>
                            <option value="lastMonth">30 روز گذشته</option>
                            <option value="lastYear">سال گذشته</option>
                            <option value="all">همه</option>
                        </select>
                    </div>
                </div>

                <div class="overflow-scroll" style="max-height:90vh;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="bg-white border-bottom">#</th>
                                <th class="bg-white border-bottom">شماره همراه</th>
                                <th class="bg-white border-bottom">شماره کارت</th>
                                <th class="bg-white border-bottom">صاحب کارت</th>
                                <th class="bg-white border-bottom">مبلغ</th>
                                <th class="bg-white border-bottom">کد رهگیری</th>
                                <th class="bg-white border-bottom">تاریخ</th>
                            </tr>
                        </thead>
                        <tbody>

                        @for(int i = 0; i < Model.Count; i++)
                        {
                            <tr data-date="@Model[i].Date">
                                <td>@(i+1)</td>
                                <td>@Model[i].PhoneNumber</td>
                                <td>@Model[i].CardNumber</td>
                                <td>@Model[i].Owner</td>
                                <td>@Model[i].Amount</td>
                                <td>@Model[i].TrackingCode</td>
                                <td>@Model[i].DateCreated</td>
                            </tr>
                        }
                    </tbody>
                    </table>
                </div>

                <hr />

            </div>
        </div>

        <script src="~/js/tableSearch.js"></script>
        <script src="~/js/sorter.js"></script>

    </body>
</html>