@using ParkingControlWeb.ViewModels.Add;

@model AddRecordViewModel;

<html>

	<body>

        <h3>ثبت ورود جدید</h3>

        <div class="mt-5">
            <form asp-action="AddNewRecord">
                <div class="row">
                    <div class="col-12">
                        <div class="form-floating form-group">
                            <input asp-for="@Model.PhoneNumber" type="text" maxlength="11" class="form-control rounded-3" id="floatingInput" placeholder="09101234567">
                            <label asp-for="@Model.PhoneNumber" for="floatingInput" class="ms-0"></label>
                            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="form-floating form-group">
                            <div class="row">
                            <div class="row">
                                <label>پلاک</label>
                            </div>
                            <div class="row mt-3">

                                <div class="col-3">
                                    <input asp-for="@Model.PlateNumber1" type="text" class="form-control rounded-3" id="floatingInput" placeholder="11">
                                    <span asp-validation-for="@Model.PlateNumber1" class="text-danger"></span>
                                </div>
                                <div class="col-3">
                                    <input asp-for="@Model.PlateNumber2" type="text" class="form-control rounded-3" id="floatingInput" placeholder="365">
                                    <span asp-validation-for="@Model.PlateNumber2" class="text-danger"></span>
                                </div>
                                <div class="col-3">
                                    <input asp-for="@Model.PlateNumber3" type="text" class="form-control rounded-3" id="floatingInput" placeholder="الف">
                                    <span asp-validation-for="@Model.PlateNumber3" class="text-danger"></span>
                                </div>
                                <div class="col-3">
                                    <input asp-for="@Model.PlateNumber4" type="text" class="form-control rounded-3" id="floatingInput" placeholder="12">
                                    <span asp-validation-for="@Model.PlateNumber4" class="text-danger"></span>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-5">
                        <button class="btn btn-success form-control" type="submit">ثبت ورود</button>
                    </div>
                </div>
            </form>
        </div>


	</body>
</html>