@{
    string displayTxt = "ادمین کل";

    if (User.IsInRole("SystemAdmin"))
        displayTxt = "صاحب پارکینگ";
    else if (User.IsInRole("Expert"))
        displayTxt = "کارشناس";
    else if (User.IsInRole("Driver"))
        displayTxt = "راننده";
}

<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width : 15vw; max-width: 15vw; height: 100vh; position:fixed;">
    <a class="d-flex align-items-center link-dark text-decoration-none" style="user-select: none;">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <h3 class="fs-4 me-0">
            ناحیه کاربری<br /><br />(@displayTxt)
        </h3>

    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">

    @{
            var action = ViewContext.RouteData.Values["Action"].ToString();
            var controller = ViewContext.RouteData.Values["Controller"].ToString();
    }

@*     <p>@User.Identity.Name</p>
    <p>Global Admin : @User.IsInRole("GlobalAdmin")</p>
    <p>System Admin : @User.IsInRole("SystemAdmin")</p>
    <p>Expert : @User.IsInRole("Expert")</p>
    <p>Driver : @User.IsInRole("Driver")</p>
    <p>@controller/@action</p> *@
    @if (!User.IsInRole("Driver"))
    {
        if (!User.IsInRole("GlobalAdmin"))
        {

            string UsersListTxt = action == "UsersList" ? "nav-link active disabled" : "nav-link link-dark";
            string AllUsers = action == "AllUsers" ? "nav-link active disabled" : "nav-link link-dark";
            string ActiveRecords = action == "Index" ? "nav-link active disabled" : "nav-link link-dark";
            string RecordsHistory = action == "RecordsHistory" ? "nav-link active disabled" : "nav-link link-dark";
            string TransactionsHistory = action == "TransactionsHistory" ? "nav-link active disabled" : "nav-link link-dark";
            string RenewalRequest = action == "RenewalRequest" ? "nav-link active disabled" : "nav-link link-dark";

            if (User.IsInRole("SystemAdmin")) // System Admin
            {
                <li class="nav-item">
                    <a class="@UsersListTxt" aria-current="page" asp-controller="Dashboard" asp-action="UsersList">
                        <i class="bi bi-people-fill"></i>
                        لیست کارشناس ها
                    </a>
                </li>

                <li class="nav-item">
                    <a class="@AllUsers" aria-current="page" asp-controller="Dashboard" asp-action="AllUsers">
                        <i class="bi bi-people-fill"></i>
                        لیست کاربران
                    </a>
                </li>
            }

            <li>
                <a class="@ActiveRecords" aria-current="page" asp-controller="Records" asp-action="Index">
                    <i class="bi bi-car-front-fill"></i>
                    ورود و خروج های جاری
                </a>
            </li>

            <li>
                <a class="@RecordsHistory" aria-current="page" asp-controller="Records" asp-action="RecordsHistory">
                    <i class="bi bi-calendar-week"></i>
                    تاریخچه ورود و خروج ها
                </a>
            </li>

            @if (User.IsInRole("SystemAdmin"))
            {
                <li>
                    <a class="@TransactionsHistory" aria-current="page" asp-controller="Records" asp-action="TransactionsHistory">
                        <i class="bi bi-credit-card-2-back-fill"></i>
                        لیست تراکنش ها
                    </a>
                </li>

                <li>
                        <a class="@RenewalRequest" aria-current="page" asp-controller="Dashboard" asp-action="RenewalRequest">
                        <i class="bi bi-hourglass-split"></i>
                        درخواست تمدید اشتراک
                    </a>
                </li>

            }

        }
        else // Global Admin
        {
            string ParkingOwners = action == "UsersList" ? "nav-link active disabled" : "nav-link link-dark";
            string AllUsers = action == "AllUsers" ? "nav-link active disabled" : "nav-link link-dark";
            string TransactionsHistory = action == "TransactionsHistory" ? "nav-link active disabled" : "nav-link link-dark";
            string RecordsHistory = action == "RecordsHistory" ? "nav-link active disabled" : "nav-link link-dark";
            string RenewalRequests = action == "RenewalRequests" ? "nav-link active disabled" : "nav-link link-dark";

            <li class="nav-item">
                <a class="@ParkingOwners" aria-current="page" asp-controller="Dashboard" asp-action="UsersList">
                    <i class="bi bi-person-fill"></i>
                    لیست صاحبین پارکینگ
                </a>
            </li>

            <li>
                <a class="@AllUsers" aria-current="page" asp-controller="Dashboard" asp-action="AllUsers">
                    <i class="bi bi-people-fill"></i>
                    لیست تمامی کاربران
                </a>
            </li>

            <li>
                <a class="@TransactionsHistory" aria-current="page" asp-controller="Records" asp-action="TransactionsHistory">
                    <i class="bi bi-credit-card-2-back-fill"></i>
                    لیست تراکنش ها
                </a>
            </li>

            <li>
                <a class="@RecordsHistory" aria-current="page" asp-controller="Records" asp-action="RecordsHistory">
                    <i class="bi bi-calendar-week"></i>
                    لیست ورود و خروج ها
                </a>
            </li>

            <li>
                    <a class="@RenewalRequests" aria-current="page" asp-controller="Dashboard" asp-action="RenewalRequests">
                        <i class="bi bi-hourglass-bottom"></i>
                    درخواست های تمدید
                </a>
            </li>
        }
    }
    else // Driver
    {
        string Charge = action == "Charge" ? "nav-link active disabled" : "nav-link link-dark";
        string TransactionsHistory = action == "TransactionsHistory" ? "nav-link active disabled" : "nav-link link-dark";
        <li class="nav-item">
            <a class="@Charge" aria-current="page" asp-controller="Dashboard" asp-action="Charge">
                <i class="bi bi-wallet2"></i>
                شارژ حساب
            </a>
        </li>

        <li>
            <a class="@TransactionsHistory" aria-current="page" asp-controller="Records" asp-action="TransactionsHistory">
                <i class="bi bi-credit-card-2-back-fill"></i>
                لیست تراکنش ها
            </a>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link link-danger" aria-current="page" asp-controller="Account" asp-action="LogOut">
            <i class="bi bi-box-arrow-left"></i>
            خروج از حساب کاربری
        </a>
    </li>
    </ul>


</div>