@using ParkingControlWeb.ViewModels.List;

@model AllUsersViewModel;

@{
    ViewData["Title"] = "لیست تمامی کاربران";
}
<html>


    <body>

        <div class="container-fluid">

            <div class="mt-5">


                <div class="row">

                    <div class="col-6 mb-2">
                        <h3>لیست تمامی کاربران</h3>
                    </div>

                </div>

                <div class="row mt-3">

                    <div class="col-6">
                        <input type="text" id="searchInput" class="form-control mb-3" placeholder="جستجو">
                    </div>
                    <div class="col-2">
                        <select class="form-select" id="sortSelect">
                            <option value="olderToNewer">قدیم به جدید</option>
                            <option value="newerToOlder">جدید به قدیم</option>
                        </select>
                    </div>

                    <div class="col-2">
                        <select class="form-select" id="timePeriodSelect">
                            <option value="last100">100 مورد اخیر</option>
                            <option value="yesterday">دیروز</option>
                            <option value="today">امروز</option>
                            <option value="thisWeek">هفته گذشته</option>
                            <option value="thisMonth">ماه گذشته</option>
                            <option value="thisYear">سال جاری</option>
                        </select>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>نام</th>
                            <th>پارکینگ</th>
                            <th>شماره همراه</th>
                            <th>تاریخ ثبت نام</th>
                            <th>نوع حساب</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null)
                        {
                            @for (int i = 0; i < Model.Users.Count; i++)
                            {
                                <tr  data-date="@Model.Users[i].Date">
                                    <th>@(i + 1)</th>
                                    <td>@Model.Users[i].Name</td>
                                    <td>@Model.Users[i].Parking</td>
                                    <td>@Model.Users[i].PhoneNumber</td>
                                    <td>@Model.Users[i].DateJoined</td>

                                    @{
                                        string classTxt = "text text-success"; // Global Admin

                                        if (Model.Users[i].Role == "SystemAdmin")
                                            classTxt = "text text-primary";
                                        else if (Model.Users[i].Role == "Expert")
                                            classTxt = "text text-info";
                                        else if (Model.Users[i].Role == "Driver")
                                            classTxt = "text text-dark";
                                    }

                                    @{
                                        string displayTxt = "ادمین کل";

                                        if (Model.Users[i].Role == "SystemAdmin")
                                            displayTxt = "صاحب پارکینگ";
                                        else if (Model.Users[i].Role == "Expert")
                                            displayTxt = "کارشناس";
                                        else if (Model.Users[i].Role == "Driver")
                                            displayTxt = "راننده";
                                    }

                                    <td class="@classTxt">@displayTxt</td>
                                </tr>
                            }

                        }

                    </tbody>
                </table>
            </div>

        </div>
        
        <script src="~/js/tableSearch.js"></script>
        <script src="~/js/sorter.js"></script>

    </body>

</html>