@using ParkingControlWeb.ViewModels.List;

@model AllUsersViewModel;

@{
    ViewData["Title"] = "لیست تمامی کاربران";
}
<html>

    <head>
        
        <style>
            td, th {
                text-align: center;
            }

            th{
                position: sticky;
                top: 0px;
            }

        </style>
    </head>
    
    <body>

        <div class="container-fluid">

            <div class="mt-5">


                <div class="row mb-2">

                <h3>لیست تمامی کاربران</h3>


                </div>

                <div class="row mt-3">

                    <div class="col-lg-6 col-sm-12 mt-2">
                    <input type="text" id="searchInput" class="form-control mb-3" placeholder="جستجو">
                    </div>
                    <div class="col-lg-2 col-sm-12 mt-2">
                        <select class="form-select" id="dateOrderSelect">
                            <option value="olderToNewer">قدیم به جدید</option>
                            <option value="newerToOlder" selected>جدید به قدیم</option>
                        </select>
                    </div>

                <div class="col-lg-2 col-sm-12 mt-2">
                        <select class="form-select" id="timePeriodSelect">
                            <option value="last100" selected>100 مورد اخیر</option>
                            <option value="yesterday">دیروز</option>
                            <option value="today">امروز</option>
                            <option value="lastWeek">7 روز گذشته</option>
                            <option value="lastMonth">30 روز گذشته</option>
                            <option value="lastYear">سال گذشته</option>
                            <option value="all">همه</option>
                        </select>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="bg-white border-bottom">#</th>
                            <th class="bg-white border-bottom">نام</th>
                            <th class="bg-white border-bottom">پارکینگ</th>
                            <th class="bg-white border-bottom">شماره همراه</th>
                            <th class="bg-white border-bottom">تاریخ ثبت نام</th>
                            <th class="bg-white border-bottom">نوع حساب</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null)
                        {
                            @for (int i = 0; i < Model.Users.Count; i++)
                            {
                                <tr  data-date="@Model.Users[i].Date">
                                    <th>@(i + 1)</th>
                                    <td data-label="نام">@Model.Users[i].Name</td>
                                    <td data-label="پارکینگ">@Model.Users[i].Parking</td>
                                    <td data-label="شماره همراه">@Model.Users[i].PhoneNumber</td>
                                    <td data-label="تاریخ ثبت نام">@Model.Users[i].DateJoined</td>

                                    @{
                                        string classTxt = "text text-success"; // Global Admin

                                        if (Model.Users[i].Role == "SystemAdmin")
                                            classTxt = "text text-primary";
                                        else if (Model.Users[i].Role == "Expert")
                                            classTxt = "text text-info";
                                        else if (Model.Users[i].Role == "Driver")
                                            classTxt = "text text-dark";
                                    }

                                    @{
                                        string displayTxt = "ادمین کل";

                                        if (Model.Users[i].Role == "SystemAdmin")
                                            displayTxt = "صاحب پارکینگ";
                                        else if (Model.Users[i].Role == "Expert")
                                            displayTxt = "کارشناس";
                                        else if (Model.Users[i].Role == "Driver")
                                            displayTxt = "راننده";
                                    }

                                    <td data-label="نوع حساب" class="@classTxt">@displayTxt</td>
                                </tr>
                            }

                        }

                    </tbody>
                </table>
            </div>

        </div>
        
        <script src="~/js/tableSearch.js"></script>
        <script src="~/js/sorter.js"></script>

    </body>

</html>