@using ParkingControlWeb.ViewModels.List

@{
    ViewData["Title"] = "درخواست های تمدید";
}

@model List<RenewalRequestReceivedViewModel>

<html>

    <head>

        <style>

            td, th {
                text-align: center;
            }

        </style>
    </head>

<body>

    <div class="container-fluid">

        <div class="mt-5">


            <div class="row">

                <div class="col-6">
                    <h3>درخواست های تمدید</h3>
                </div>

            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>نام درخواست دهنده</th>
                        <th>شماره تلفن</th>
                        <th>سرویس مد نظر</th>
                        <th>4 رقم آخر کارت بانکی</th>
                        <th>زمان واریز</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model != null)
                    {
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            @if(Model[i].Status == 2)
                            {
                                <tr>
                                    <td>@(i+1)</td>
                                    <td>@Model[i].Name</td>
                                    <td>@Model[i].PhoneNumber</td>
                                    <td>@Model[i].Service</td>
                                    <td>@Model[i].Card</td>
                                    <td>@Model[i].Time</td>
                                    <td>
                                        <button class="openModalButton btn btn-info" data-request-id="@Model[i].Id">عملیات</button>
                                    </td>
                                </tr>
                            }
                        }

                    }

                </tbody>
            </table>

            <hr class="mt-5 mb-5"/>

            <div class="row">

                <div class="col-6">
                    <h3>تاریخچه درخواست ها</h3>
                </div>

            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>نام درخواست دهنده</th>
                        <th>شماره تلفن</th>
                        <th>سرویس مد نظر</th>
                        <th>4 رقم آخر کارت بانکی</th>
                        <th>زمان واریز</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model != null)
                    {
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            @if (Model[i].Status != 2)
                            {
                                
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model[i].Name</td>
                                    <td>@Model[i].PhoneNumber</td>
                                    <td>@Model[i].Service</td>
                                    <td>@Model[i].Card</td>
                                    <td>@Model[i].Time</td>
                                    <td>
                                        @if(Model[i].Status == 1)
                                        {
                                            <span class="text text-success">موفق</span>
                                        }
                                        @if (Model[i].Status == -1)
                                        {
                                            <span class="text text-danger">رد شده</span>
                                        }
                                    </td>
                                </tr>
                            }
                        }

                    }

                </tbody>
            </table>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $('.openModalButton').click(function () {
                $('#modal-body-content').load('/Dashboard/RenewalModal');
                $('#myModal').modal('show');
                var requestId = $(this).data('request-id');
                $('#requestIdInput').val(requestId);
            });
        });
    </script>


</body>

</html>