@using ParkingControlWeb.ViewModels.Request

@model RenewalRequestViewModel

@{
    ViewData["Title"] = "تمدید اشتراک";
}

<html>

<body>

    <div class="container-fluid mt-5">
        
        <div class="modal-content rounded-5 shadow">

            <div class="modal-body p-5 pt-0">
                
                @{
                    string s = "";
                    string text = "";

                    if (Model.Pending)
                    {
                        s = "disabled";
                    }
                }

                <fieldset @s>
                    
                    @if (Model.Pending)
                    {
                        <div class="row mt-3">
                            <div class="alert alert-info" role="alert">
                                درحال حاضر یک درخواست درحال پردازش دارید، لطفا صبور باشید.
                            </div>
                        </div>
                    }
                    <form asp-action="RenewalRequest">

                        <div class="row">
                            <h3 class="fw-bold mb-0 fs-2">مراحل ثبت درخواست تمدید اشتراک</h3>
                        </div>

                        <div class="row mt-3">
                            <p>
                                • ابتدا بازه زمانی تمدید اشتراک خود را انتخاب کنید
                                <br>
                                <br>
                                • سپس هزینه اعلام شده را به حساب بانکی مربوطه واریز نمائید
                                <br>
                                <br>
                                • در نهایت چهار رقم آخر شماره کارتی که واریز را با آن انجام داده اید، به علاوه تاریخ و ساعت واریز را درج کنید و درخواست خود را ثبت کنید
                                <br>
                                <br>
                                • در اسرع وقت به درخواست شما رسیدگی خواهد شد
                            </p>
                        </div>
                        <div class="row d-flex align-items-center mt-5">

                            <div class="col-xl-6 col-sm-12">

                                <label asp-for="OptionSelected"></label>
                                <select asp-for="OptionSelected" class="form-control" id="period" onchange="update()">
                                    <option value="0">یک ماهه</option>
                                    <option value="1">سه ماهه</option>
                                    <option value="2">شش ماهه</option>
                                    <option value="3">یک ساله</option>
                                </select>

                            </div>

                            <div class="col-xl-3 col-sm-12 text-center">
                                <h5 id="price">هزینه : @Model.OneMonthPrice تومان</h5>
                            </div>

                            <div class="col-xl-3 col-sm-12 text-center">
                                <p id="until">اعتبار تا : @Model.UntilOneMonth</p>
                            </div>
                        </div>

                        <div class="row mt-5">
                        
                            <div class="col-xl-6 col-sm-12">
                                <h5>شماره کارت : @Model.CardNumber</h5>
                            </div>

                            <div class="col-xl-6 col-sm-12">
                                <h5>به نام @Model.CardName</h5>
                            </div>
                        </div>
                    
                        <div class="row mt-5">

                            <div class="col-xl-2 col-sm-12 mt-3">
                                <label asp-for="CardLast4Number"></label>
                                <input asp-for="CardLast4Number" class="form-control" maxlength="4" placeholder="XXXX"/>
                                <span asp-validation-for="CardLast4Number" class="text text-danger"></span>
                            </div>

                            <div class="col-xl-10 col-sm-12 mt-3">
                                <label asp-for="Date"></label>
                                <input asp-for="Date" class="form-control" placeholder="28 دی 1402 ساعت 20:45"/>
                                <span asp-validation-for="Date" class="text text-danger"></span>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-12 text-center">
                                <button class="mb-2 btn btn-lg rounded-3 btn-success form-control" type="submit">ارسال درخواست</button>
                            </div>
                        </div>

                    </form>
                </fieldset>

            </div>
        </div>
        
        <br />
        <hr />
        <br />

        <h2>تاریخچه درخواست ها</h2>
        <table class="table table-hover">

            <tr>
                <th>تاریخ</th>
                <th>سرویس مورد نظر</th>
                <th>وضعیت</th>
                <th>توضیحات</th>
            </tr>

            @for(int i = 0; i < Model.renewalVMs.Count; i++)
            {
                <tr data-date="">
                    <th>@(i+1)</th>
                    <td data-label="تاریخ">@Model.renewalVMs[i].Date</td>
                    <td data-label="سرویس مدنظر">@Model.renewalVMs[i].Service</td>

                    @{
                        string type = "info";

                        if (Model.renewalVMs[i].Status == "موفق")
                            type = "success";
                        else if (Model.renewalVMs[i].Status == "ناموفق")
                            type = "danger";
                    }
                    <td data-label="وضعیت" class="text-@type">@Model.renewalVMs[i].Status</td>
                    <td data-label="توضیحات">@Model.renewalVMs[i].Desc</td>

                </tr>
            }

        </table>
    </div>

    <script>

        function update() {

            var obj = document.getElementById("period");

            var price = document.getElementById("price");
            var until = document.getElementById("until");

            var value = obj.value;

            if (value == "0") {
                price.innerHTML = "هزینه : @Model.OneMonthPrice تومان";
                until.innerHTML = "اعتبار تا @Model.UntilOneMonth";
            }
            if (value == "1") {
                price.innerHTML = "هزینه : @Model.ThreeMonthPrice تومان";
                until.innerHTML = "اعتبار تا @Model.UntilThreeMonth";
            }
            if (value == "2") {
                price.innerHTML = "هزینه : @Model.SixMonthPrice تومان";
                until.innerHTML = "اعتبار تا @Model.UntilSixMonth";
            }
            if (value == "3") {
                price.innerHTML = "هزینه : @Model.OneYearPrice تومان";
                until.innerHTML = "اعتبار تا @Model.UntilOneYear";
            }
        }

    </script>

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

</html>