@using ParkingControlWeb.ViewModels

@model UsersListViewModel

<html>

    <head>

        <style>
            td, th {
                text-align: center;
            }

            th {
                position: sticky;
                top: 0px;
            }

        </style>
    </head>

	<body>
        
        <div class="container-fluid">

            <div class="mt-5">


                <div class="row">

                    <div class="col-9 mb-2">
                        @if (User.IsInRole("GlobalAdmin"))
                        {
                            <h3>لیست صاحبین پارکینگ</h3>
                            ViewData["Title"] = "لیست صاحبین پارکینگ";

                        }
                        else
                        {
                            <h3>لیست کارشناس ها</h3>
                            ViewData["Title"] = "لیست کارشناس ها";

                        }
                    </div>

                    <div class="col-3 text-start">
                        <a class="btn btn-primary" asp-controller="Dashboard" asp-action="Register"><i class="bi bi-plus-circle"></i></a>
                    </div>

                </div>
                
                <div class="row mt-3">

                    <div class="col-lg-6 col-sm-12 mt-2">
                    <input type="text" id="searchInput" class="form-control mb-3" placeholder="جستجو">
                    </div>
                    <div class="col-lg-2 col-sm-12 mt-2">
                        <select class="form-select" id="dateOrderSelect">
                            <option value="olderToNewer">قدیم به جدید</option>
                            <option value="newerToOlder" selected>جدید به قدیم</option>
                        </select>
                    </div>

                <div class="col-lg-2 col-sm-12 mt-2">
                        <select class="form-select" id="timePeriodSelect">
                            <option value="last100" selected>100 مورد اخیر</option>
                            <option value="yesterday">دیروز</option>
                            <option value="today">امروز</option>
                            <option value="lastWeek">7 روز گذشته</option>
                            <option value="lastMonth">30 روز گذشته</option>
                            <option value="lastYear">سال گذشته</option>
                            <option value="all">همه</option>
                        </select>
                    </div>
                </div>

                <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="bg-white border-bottom">#</th>
                                <th class="bg-white border-bottom">نام</th>
                                <th class="bg-white border-bottom">پارکینگ</th>
                                <th class="bg-white border-bottom">تاریخ ثبت نام</th>
                                <th class="bg-white border-bottom">تاریخ اتمام اشتراک</th>
                                <th class="bg-white border-bottom">شماره همراه</th>
                                <th class="bg-white border-bottom"></th>
                            </tr>
                        </thead>
                        <tbody>

                    @if(Model != null)
                    {
                        @for (int i = 0; i < Model.Users.Count; i++)
                        {
                            <tr data-date="@Model.Infos[i].Date">
                                <th>@(i + 1)</th>
                                <td data-label="نام">@Model.Infos[i].FullName</td>
                                <td data-label="پارکینگ">@Model.Infos[i].ParkingName</td>
                                <td data-label="تاریخ ثبت نام">@Model.Infos[i].RegisterDate</td>
                                <td data-label="تاریخ اتمام اشتراک">@Model.Infos[i].ExpireDate</td>
                                <td data-label="شماره همراه">@Model.Infos[i].Username</td>
                                <td>
                                    <div class="row">

                                        <div class="col-xl-6 col-sm-12 mt-1">
                                            <a class="btn btn-primary form-control asp-controller="Dashboard" asp-action="Edit" asp-route-id="@Model.Users[i].Id">ویرایش اطلاعات</a>
                                        </div>

                                        @if (User.IsInRole("GlobalAdmin"))
                                        {
                                            <div class="col-xl-6 col-sm-12 mt-1">
                                                <a class="btn btn-success form-control asp-controller="Dashboard" asp-action="Renewal" asp-route-id="@Model.Users[i].Id">تمدید اشتراک</a>
                                            </div>
                                        }

                                        @if (Model.Users[i].Active == 1)
                                        {
                                            <div class="col-xl-12 col-sm-12 mt-1">
                                                <a class="btn btn-danger form-control" asp-controller="Dashboard" asp-action="Active" asp-route-id="@Model.Users[i].Id">غیر فعال کردن حساب</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-xl-12 col-sm-12 mt-1">
                                                <a class="btn btn-success form-control" asp-controller="Dashboard" asp-action="Active" asp-route-id="@Model.Users[i].Id">فعال کردن حساب</a>
                                            </div>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }

                    }
                    
                        </tbody>
                </table>
            </div>

        </div>

        <script src="~/js/tableSearch.js"></script>
        <script src="~/js/sorter.js"></script>

	</body>

</html>