@using ParkingControlWeb.ViewModels

@model UsersListViewModel

<html>

	<body>
        
        <div class="container-fluid">

            <div class="mt-5">


                    <div class="row">

                        <div class="col-6">
                            @if (User.IsInRole("GlobalAdmin"))
                            {
                                <h3>لیست صاحبین پارکینگ</h3>
                            }
                            else
                            {
                                <h3>لیست کارشناس ها</h3>
                            }
                        </div>

                        <div class="col-6 text-start">
                            <a class="btn btn-primary" asp-controller="Dashboard" asp-action="Register">اضافه کردن <i class="bi bi-plus-circle"></i></a>
                        </div>

                    </div>

                <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>نام</th>
                                <th>شماره همراه</th>
                                <th>تاریخ ثبت نام</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                    @if(Model != null)
                    {
                        @for (int i = 0; i < Model.Users.Count; i++)
                        {
                            <tr>
                                <th>@(i + 1)</th>
                                <td>@Model.Infos[i].FullName</td>
                                <td>@Model.Users[i].UserName</td>
                                <td>@Model.Infos[i].RegisterDate</td>
                                <td>
                                    <div class="row">

                                        <div class="col-6">
                                            <a class="btn btn-primary form-control asp-controller="Dashboard" asp-action="Edit" asp-route-id="@Model.Users[i].Id">ویرایش</a>
                                        </div>

                                        @if (Model.Users[i].Active == 1)
                                        {
                                            <div class="col-6">
                                                <a class="btn btn-danger form-control" asp-controller="Dashboard" asp-action="Active" asp-route-id="@Model.Users[i].Id">غیر فعال کردن حساب</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-6">
                                                <a class="btn btn-success form-control" asp-controller="Dashboard" asp-action="Active" asp-route-id="@Model.Users[i].Id">فعال کردن حساب</a>
                                            </div>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }

                    }
                    
                        </tbody>
                    </table>
            </div>

    </div>

	</body>

</html>